.fit {
  width: 100%;
  height: 100%;
}

.form-btn {
  width: 100%;
  margin-bottom: 0.5rem;
}

.col-md-4 .card {
  min-height: 16rem;
}

.card .preview {
  padding: 0;
  margin: 0;
  border: #ccc solid 1px;
  border-radius: 4px;
  outline: none;
}

.card .preview .img {
  border-radius: 4px;
}

.card .form-control {
  margin-bottom: 0.4rem;
}

#preview {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.657);
  height: 100vh;
}

#preview img {
  width: 80%;
  max-height: 80%;
  margin: auto;
  margin-top: 90px;
  border-radius: 4px;
  box-shadow: 0 0 2rem rgb(26, 26, 26);
}

#delete {
  width: 7rem;
  height: 7rem;
  position: fixed;
  right: 1.8rem;
  bottom: 1.8rem;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;
  background-color: #fff;
}

#delete:hover {
  background-color: #dc3545;
}

#delete svg {
  width: 5rem;
  height: 5rem;
  margin-top: 0.35rem;
}

#delete svg path {
  transition-property: all;
  transition-duration: 0.3s;
  fill: #dc3545;
}

#delete:hover svg path {
  fill: #fff;
}

#add {
  width: 7rem;
  height: 7rem;
  min-width: auto;
  min-height: auto;
  position: fixed;
  right: 9.8rem;
  bottom: 1.8rem;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;
  background-color: #fff;
  font-weight: 600;
  font-size: 4rem;
}

#add:hover {
  background-color: #28a745;
}

.btn-control-left {
  margin-top: 0.4rem;
  margin-right: 0.2rem;
  font-weight: 700;
  float: left;
}

#update {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.loader {
  position: fixed;
  top: 0;
  width: 75%;
  height: 4px;
  background-color: #007bff;
  animation-name: loader;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  0% {
    left: -75%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -75%;
  }
}

.slide {
  position: relative;
}

.btn-control-right {
  margin-top: 0.4rem;
  font-weight: 700;
  float: right;
}

.container-primary {
  margin-top: 3rem;
  align-items: center;
}

#contextmenu {
  position: absolute;
}

@media (min-width: 1620px) {
  #preview img {
    width: 70%;
    margin: auto;
    margin-top: 7rem;
  }
}

@media (max-width: 960px) {
  #delete {
    padding: 0;
    width: 4rem;
    height: 4rem;
    right: 0.8rem;
    bottom: 0.8rem;
  }

  #delete svg {
    width: 3rem;
    height: 3rem;
  }
  #add {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    right: 5.6rem;
    bottom: 0.8rem;
  }
}

/*body {
  overflow: hidden;
}*/

.bg-black {
  background: rgba(0, 0, 0, 0.5);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer .btn {
  margin-top: 0.65rem;
}

.footer .float-left {
  margin-left: 0.65rem;
}

.footer .float-right {
  margin-right: 0.65rem;
}

#title {
  font-size: 4em;
}

.text-nav,
.text-nav:hover {
  font-size: 1.2rem;
  font-weight: 500;
}
