{% extends "layout.html" %}
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slideshow.css') }}">
{% endblock %}
{% block navbar %}
  <nav>
    <!--<a href="/slideshow" class="float-left">Slideshow</a>-->
    <!--<p class="float-right">Hello {{ current_user.username }}</p>-->
    <div class="row bg-black">
      <div class="offset-sm-7 col-lg-5">
        <h4 class="text-white text-right">Hello, {{ current_user.username }}</h4>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
<h1>Courses</h1>
<hr>
<button class="btn btn-outline-success shadow-sm" id="add">+</button>
<div class="btn btn-outline-danger shadow-sm" id="delete"><svg viewBox="0 0 26 26" version="1.1" width="5rem"><path stroke-width="2.0803" stroke-miterlimit="10" d="M9,4.429V3c0-1.421,0.619-2,2-2h4  c1.381,0,2,0.579,2,2v1.429"></path><path d="M23,4L23,4c0-0.551-0.449-1-1-1H4C3.449,3,3,3.449,3,4l0,0H2v2h22V4H23z"></path><path d="M4,7v16c0,1.654,1.346,3,3,3h12c1.654,0,3-1.346,3-3V7H4z M10,22H8V10h2V22z M14,22h-2V10h2V22z M18,22h-2  V10h2V22z"></path></svg></div>
{% endblock %}
{% block footer %}
  <footer>

  </footer>
{% endblock %}
{% block script %}
{% endblock %}
