<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Bologna1980 | Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        body {
            background-image: url('{{ url_for('static', filename='img/background.png') }}');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .text-gray {
            color : rgb(200,200,200);
        }

        .background-black {
            background: rgba(0,0,0,0.5);
        }
    </style>
</head>
<body>
<div class="content-section">
    <br><br>
    <div class="row  background-black">

        <div class="col-lg-6">
            <h1 class="text-white text-center">Stazione di Bologna 2 Agosto 1980</h1>
        </div>


    </div>

    <div class="row justify-content-md-center background-black">
        <div class="col-lg-6">
            <h3 class="text-muted text-left">welcome to the ..................... explanation of the presentation</h3>
            <h3 class="text-muted text-left">instructions how to use this ......................................</h3>
        </div>

        <div class="col-lg-5 ">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for message in messages %}
            {{ message[1] }}
            {% endfor %}
            {% endwith %}
            <form method="POST">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend></legend>
                    <div>
                        <h3 class="text-white">Username</h3>
                    </div>
                    <div>
                        {{ form.username(class_='form-control', placeholder='Username') }}
                    </div>
                    <div>
                        <h3 class="text-white">Password</h3>
                    </div>
                    <div>
                        {{ form.password(class_='form-control', placeholder='Password') }}
                    </div>
                    <div>
                        {{ form.submit(class_='btn btn-primary') }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</html>