<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bologna1980 | {{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<style>
    body {
        background-image: url('{{ url_for('static', filename='img/' + image_path) }}');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .background-black {
        background: rgba(0,0,0,0.5);
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;    
    }

    h1 {
        font-size: 4em;
    }

</style>

<div class="content-section">
    <div class="row justify-content-md-center background-black">

        <div class="offset-sm-7 col-lg-5">
            <h4 class="text-white text-right">hello, {{ username }}</h4>
        </div>
    </div>

    <br><br>


    <div class="row justify-content-md-center background-black">
        <div class="col-lg-6">
            <h1 class="text-white">{{ title }}</h1> <!--  index|safe -->
        </div>

        <div class="col-lg-3">
            <h3 class="text-white text-right">{{ time }}</h3>
        </div>
    </div>


    <div class="footer background-black">
        <div class="row">
            <div class="col-sm-1">
                {% if back %}
                <a type="button" class="btn btn-primary" href="{{ index }}">Back</a>
                {% endif %}
            </div>
            <div class="col-sm-1 offset-sm-10">
                {% if next %}
                <a type="button" class="btn btn-primary" href="{{ index + 2 }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>